// Sweet alert
.swal2-container {
  font-family: Roboto;
}

// Base
.link {
  color: #0277BD !important;
}

// N Progress
#nprogress .bar {
  background: #2196F3 !important;
  height: 4px !important;
}

// Typography
.table-title {
  display: block;
  border-bottom: 1px solid $c-lighter-gray;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  color: $c-text;
  opacity: 0.8;
  padding: 16px;
}

// Add Forms
.add-form__input-container {
  padding: 8px 32px 0 !important;
  margin: 0 30px 0 0;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}
