// Sweet alert
.swal2-container {
  font-family: Roboto;
}

// Base
.link {
  color: #0277BD !important;
}

// N Progress
#nprogress .bar {
  background: #2196F3 !important;
  height: 4px !important;
}

