// Colors
$c-primary: #339a2a;
$c-primary-light: #69cc59;
$c-primary-dark: #006b00;

// Text Colors
$c-text: #333;
$c-text-light: rgba(0,0,0,.6);

// Background Colors
$c-dark-gray: #616161;
$c-gray: #9E9E9E;
$c-light-gray: #BDBDBD;
$c-lighter-gray: #E0E0E0;
$c-lighter-blue-gray: #ECEFF1;