// Colors
$c-primary: #1476BA;
$c-accent: #77C3EC;

// Text Colors
$c-text: #333;

// Background Colors
$c-dark-gray: #616161;
$c-gray: #9E9E9E;
$c-light-gray: #E0E0E0;
$c-lighter-gray: #FAFAFA;
$c-lighter-blue0ray: #ECEFF1;

